<ion-list>
    <ion-list-header class="defectos-header">
      <div>Defectos de la revisión</div>
      <div>Defectos críticos (Actuación inmediata)</div>
    </ion-list-header>

    <ion-item>
      <p class="codigo-text">CÓDIGO</p>
      <h4 class="control-text">Control de hermeticidad.</h4>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">00</h3>
      <div class="lower-desc-label">Fuga en tubería de instalación.</div>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">01</h3>
      <div class="lower-desc-label">Fuga en conexiones de aparatos de gas.</div>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">02</h3>
      <div class="lower-desc-label">Fuga en aparatos de gas.</div>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">03</h3>
      <div class="lower-desc-label">Fuga válvula de aparatos de gas.</div>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">04</h3>
      <div class="lower-desc-label">Tubo flexible dañado.</div>
    </ion-item>
    <ion-item>
      <h4 class="control-text">Monóxido de Carbono (CO) en ambiente.</h4>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">05</h3>
      <div class="lower-desc-label">El recinto donde está ubicado el aparato de gas, no presenta condiciones óptimas de ventilación.</div>
    </ion-item>
    <ion-item>
      <h3 class="code-number" slot="start">06</h3>
      <div class="lower-desc-label">Aparato de gas, que precisando estar conectado a ducto de evacuación de los productos de la combustión esta ubicado en local que no reúne las condiciones para una correcta evacuación de los mismos.</div>
    </ion-item>
</ion-list>