.defectos-header {
  display: block;
  font-weight: bold;
  text-align: center;
}

.codigo-text {
  font-size: 14px;
  font-weight: bold;
}

.control-text {
  text-align: center;
}

.code-number {
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc-label {
  font-size: 14px;
  text-align: justify;
}

.lower-desc-label {
  font-size: 14px;
  text-align: justify;
}