<ion-list>
  <ion-list-header class="mejoras-header">
    <div>Área de mejora</div>
    <div>Se recomienda su pronta corrección</div>
  </ion-list-header>

  <ion-item>
    <p class="codigo-text">CODIGO</p>
    <div>
      <h4 class="mejora-text">En la tubería.</h4>
    </div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">7.1</h3>
    <div class="lower-desc-label">Material de la instalación no autorizado.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">7.5.6</h3>
    <div class="lower-desc-label">Condiciones eléctricas, vapor o agua, sin distanciamientos mínimos con la <b>Tubería de gas</b>.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">7.5.3</h3>
    <div class="lower-desc-label">Tuberias que atraviesan cielo falso, sótanos y garages, que no cumplen con la <b>Normatividad aplicable</b>.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">7.5.1</h3>
    <div class="lower-desc-label">Tuberías a la vista sin mecanismos de sujeccíon adecuados.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">Fx</h3>
    <div class="lower-desc-label">Tubería enterrada en jardines a profuncidad menos de 45 cms.</div>
  </ion-item>
  <ion-item class="bottom-section-text-container">
    <h4 class="control-text">Instalación de aparatos.</h4>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">9.3</h3>
    <div class="lower-desc-label">Válvula de paso ubicada en una zona que impide el cierra rápido.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">11.6</h3>
    <div class="lower-desc-label">Localización de calefactores instalados en recámaras o dormitorios deben ser de tipo "ventilado" Se prohibe instalar calentadores de agua dentro de cuaartos de baño, closets, recámaras y dormitorios o cuartos sin ventilación permanente.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">7.2.2</h3>
    <div class="lower-desc-label">Conector flexible no autorizado, longitud excesiva.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">7.5.8</h3>
    <div class="lower-desc-label">Punto de salida que no tiene aparato de gas conectado y está sin taconear.</div>
  </ion-item>
  <ion-item>
    <h3 class="code-number" slot="start">11.2</h3>
    <div class="lower-desc-label">Aparato fijo no conectado con conexión fija.</div>
  </ion-item>
</ion-list>